---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import fede from '../images/fede.avif';
---

<Layout title="Fede.website">
	<div class="box has-background-info-light">
		<h1 class="title"> <a href="https://fede.website/">Fede</a></h1>
	</div>
	
	<!-- With of the parent -->
	<div style="width: inherit; margin: 1rem 25%;">
		<figure class="image is-square">
			<img src={fede} alt="Fede profile photo" class="is-rounded"/>
		</figure>
	</div>

	<h2 class="is-size-5 has-text-weight-bold my-1">Portafolio:</h2>

	<Card
	href="https://contentcreators.website/"
	websiteTitle="Content Creators"
	description="Blog:"
	technologieslist="HTML,CSS,JavaScript,Git,Github,Ubuntu,Node.js,Eleventy,Cloudflare Pages"
	/>

	<Card
	href="https://fede.website/"
	websiteTitle="Fede"
	description="Sitio Web personal:"
	technologieslist="HTML,CSS,Bulma,Git,Github,Ubuntu,Astro.build,Cloudflare Pages"
	/>

</Layout>
