---
export interface Props {
	href: string;
	websiteTitle: string;
	description: string;
	technologieslist: string;
}

const { href, websiteTitle, description, technologieslist } = Astro.props as Props;

const technologieslistArray = technologieslist.split(",");

---

<div>
	<div class="box has-background-primary-light">
	<p class="has-text-weight-medium"><a href={href}>{websiteTitle}</a></p>
	</div>

	<p class="content is-medium my-1">{description}</p>
	<details>
	<summary class="content is-medium">Tecnologías utilizadas:</summary>

	<div class="content is-medium">
		<ol class="is-upper-roman">
			{technologieslistArray.map((item) => (
				<li>{item}</li>
			))}
		</ol>
	</div>

	</details>

</div>